# KasBonds harness
# BONDED_WORK_CHAIN=1
# BONDED_WORK_CHAIN_LIVE=0
# KASBONDS_ROOT=/absolute/path/to/KasBonds

# OpenSilver deploy-plan
# BONDED_WORK_OPENSILVER=1
# OPENSILVER_ROOT=/absolute/path/to/OpenSilver
# OPENSILVER_NETWORK=kaspa:testnet-12
